
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;

}
.count-particles {
  border-radius: 0 0 3px 3px;
}

#container{
    background-color: aliceblue;
}

#downloadBtn{
    background-color: aliceblue;
    z-index: 100;
}
/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

h1 {
    z-index: 100;
    color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-size: xx-large;
    
}

.image-icon{
width: 65px;
height:65px;
z-index: 100;
margin: 20px;

}

.image-con{
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}
.image-content{
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align: center; 
  font-size: large;
}
.span-con{
  color: #f4f4f4;
  
}

.gradient-text {
  font-size: 6rem; /* Font size for larger screens */
  font-weight: bold; /* Optional: make text bold */

  animation: gradient-animation 4s linear infinite; /* Apply animation */
}

/* Keyframes for the gradient animation */
@keyframes gradient-animation {
  0% {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); /* Gradient background */
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* Standard property */
    color: transparent; /* Hide default text color */
    display: inline; /* Ensure proper background clipping */
  }
  25%{
    background: linear-gradient(0.50turn, #3f87a6, #ebf8e1, #f69d3c); /* Gradient in opposite direction */
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* Standard property */
    color: transparent; /* Hide default text color */
    display: inline; /* Ensure proper background clipping */
  }
  50%{

    background: linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c); /* Gradient in opposite direction */
      -webkit-background-clip: text; /* For WebKit browsers */
      background-clip: text; /* Standard property */
      color: transparent; /* Hide default text color */
      display: inline; /* Ensure proper background clipping */

  }
  100% {
    background: linear-gradient(1turn, #3f87a6, #ebf8e1, #f69d3c); /* Gradient background */
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* Standard property */
    color: transparent; /* Hide default text color */
    display: inline; /* Ensure proper background clipping */
  }
}


h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #555;
}

#container {
    width: 720px;
    height: 480px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#container canvas {
    width: 100%;
    height: 100%;
}

#upload {
    display: none;
}



#upload-button svg {
    vertical-align: middle;
}

#status {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

#downloadBtn {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#refreshBtn{
z-index: 100;
display: none;
margin-top: 10px;
padding: 10px 20px;
background-color: #38d6b9;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}
#downloadBtn:hover {
    background-color: #218838;
}
.order {
  color: #ebf8e1;
  z-index: 100;
  margin-top: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .gradient-text {
    font-size:3rem; /* Smaller font size for screens 600px wide or less */
    margin: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .image-icon {
    width: 35px;
    height:35px;
    margin: 8px;
  }
}

@media screen and (max-width: 600px) {
  .span-con {
    font-size: 12px;

  }
  


}


@media screen and (max-width: 600px) {
  body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    height: 100% !important ;
  }
  
}


body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}